[user]
	name = Jae Lee
	email = jae@dustral.com
[credential]
	helper = osxkeychain
[core]
	autocrlf = false
	safecrlf = false
	editor = /usr/bin/vim

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[github]
	user = icarurs
[push]
	default = simple
