[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  please = push --force-with-lease

[push]
  default = simple
  autoSetupRemote = true

[user]
  name = Jae Lee
  email = jaelee@fastmail.com
