! URxvt
URxvt*loginShell: true
URxvt.cursorColor: #d13a82
URxvt.imLocale: en_US.UTF-8

! Padding
URxvt.internalBorder:20
URxvt.externalBorder:0

! Color scheme
URxvt.background: #191716
URxvt.foreground: #DEDEDE
URxvt.transparent: true
URxvt.shading: 10
#include "/home/jae/.colors/astromouse"

URxvt.font: xft:Sauce Code Powerline:size=10

URxvt.scrollBar: false
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

! Xft settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

