! URxvt
URxvt*loginShell: true
URxvt.cursorColor: #d13a82
URxvt.imLocale: en_US.UTF-8
! URxvt.background: #1c1c1c
! URxvt.foreground: #dedede

! Padding
URxvt.internalBorder:20
URxvt.externalBorder:0

! Color scheme
URxvt.transparent: false
URxvt.shading: 40
#include "/home/jae/.colors/solarized"

URxvt.font: xft:Inconsolata:size=11:antialias=false, \
            xft:DejaVu Sans Mono for Powerline:size=9:style=Book:antialias=false, \
            xft:Arial:style=Regular:antialias=false, \
            xft:FreeSerif:style=Regular:antialias=false, \
            xft:unifont:style=Medium:antialias=false
! Urxvt.font: -*-ohsnap.icons-medium-*-normal-*-13-*-*-*-*-*-*-*
! URxvt.font: -*-proggyclean-medium-r-normal-*-13-*-*-*-*-*-*-*
! URxvt.font: -*-tamsynmod-medium-*-normal-*-14-*-*-*-*-*-*-*
! URxvt.font: -*-ohsnap-medium-*-*-*-14-*-*-*-*-*-*-*

URxvt.scrollBar: false
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

! Xft settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

